@import "../../styleAPI.scss";
.form {
  label {
    margin-right: 8px;
    font-weight: bold;
  }
  input {
    max-width: 3rem;
    flex: 0.1 1 auto;
    padding: 0px 2px;
  }
  div {
    margin-top: 14px;
    display: block;
    padding: 6px;
    border-radius: 14px;
    @include headerColor;
    color:white;
    text-align: center
  }
  div:hover{
    @include darkerHeaderColor;
  }
}

@media (min-width: 370px) {
  label,
  button {
    font-size: 18px;
  }
}

@media (min-width: 580px) {
}
