@import "../../styleAPI.scss";
.container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  background: rgb(168, 196, 248);
  @include menuMissionBorderRadius;
  @include thickMarginTop;
}

@media (min-width: 580px) {
  .container {
    width: 65%;
  }
}
