@import "../../styleAPI.scss";
.container {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  background: white;
  @include menuMissionBorderRadius;
  @include thickMarginTop;
  margin-bottom: 64px;
  overflow-x: hidden;
}

@media (min-width: 580px) {
  .container {
    width: 65%;
  }
}
