@import "../../styleAPI.scss";
body {
  background-color: aliceblue;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 50%;
  font-size: 18px;
  top: 20%;
  @include menuMissionBorderRadius;
  background-color: aliceblue;
  position: absolute;
  margin: auto;
}
