@import "../styleAPI.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  @include lighterMainColor;
  @include menuMissionBorderRadius;
  h2 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    @include mainFont;
    @include thinMarginSides;
    @include thickMarginTop;
    @include thickMarginBottom;
  }
  p:nth-child(2) {
    color: white;
    text-align: center;
    @include thinMarginSides;
    @include thinMarginBottom;
  }
  p:nth-child(3) {
    color: white;
    text-align: center;
    @include thinMarginSides;
    @include thickMarginBottom;
  }

  #s1::after,
  #s3::after {
    @include addLinebreak;
    // adding linebreaks based on where we divided our phrases with span tags
  }
}

//# DESKTOP-FIRST APPROACH: descending mobile zones below
@media (max-width: 1320px) {
  .container {
    #s1::after,
    #s3::after {
      @include removeLinebreak;
      // looks better when we remove line breaks at this screen size
    }
  }
}

@media (max-width: 967px) {
  .container {
    h2 {
      font-size: 1.4rem;
      margin: 16px;
    }
    p:nth-child(2) {
      font-size: 0.9rem;
      margin: 0px 16px 16px 16px;
    }
    p:nth-child(3) {
      font-size: 0.9rem;
      margin: 0px 16px 16px 16px;
    }
  }
}
@media (max-width: 714px) {
  .container {
    width: 60%;
    #sh2::before {
      @include removeLinebreak;
      // looks better when we remove line breaks at this screen size
    }
    h2 {
      font-size: 1.4rem;
      margin: 10px;
    }
    p:nth-child(2) {
      font-size: 0.9rem;
      color: white;
      text-align: center;
      margin: 0px 10px 10px 10px;
    }
    p:nth-child(3) {
      font-size: 0.9rem;
      color: white;
      text-align: center;
      margin: 0px 10px 10px 10px;
    }
  }
}
@media (max-width: 570px) {
  .container {
    width: 85%;

    h2 {
      font-size: 1.2rem;
    }
    p:nth-child(2) {
      font-size: 0.8rem;
    }
    p:nth-child(3) {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 360px) {
  .container {
    #sh2::before {
      @include addLinebreak;
      // looks better when we remove line breaks at this screen size
    }
  }
}
