@import "../styleAPI.scss";

.container {
  display: flex;
  flex-direction: column;
  @include missionWidth;
  @include lighterMainColor;
  @include menuMissionBorderRadius;
  h2 {
    color: white;
    font-size: 2rem;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    @include mainFont;
    @include thinMarginSides;
    @include thickMarginTop;
    @include thickMarginBottom;
  }
  p:nth-child(2) {
    color: white;
    text-align: center;
    @include thinMarginSides;
    @include thinMarginBottom;
  }
  p:nth-child(3) {
    color: white;
    text-align: center;
    @include thinMarginSides;
    @include thickMarginBottom;
  }
  
  #s1::after {
    @include linebreak;
    // bottom line should be: "delicious lunch or dinner at home"
  }
  #s3::after {
    @include linebreak;
    // bottom line should be: "experienced chefs"
  }

}

//# DESKTOP-FIRST APPROACH: descending mobile zones below
@media (max-width: 1320px) {
 .container{
  #s1::after {
    @include linebreakDeativate;
    // bottom line should be: "delicious lunch or dinner at home"
  }
  #s3::after {
    @include linebreakDeativate;
    // bottom line should be: "experienced chefs"
  }
 }
}

