@import "../styleAPI.scss";

.container {
  @include missionWidth;
  @include lighterMainColor;
  display: flex;
  flex-direction: column;
  
  p{
    color: white;
    
  }
  h2 {
    color: white;
    
    @include mainFont;
  }
}
