@import "../../styleAPI.scss";

.container {
  @include modalWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @include menuMissionBorderRadius;
  background: white;
  margin: 20px;
  .btn {
    // width: 18%;
    padding: 8px;
    border-radius: 18px;
    margin: 0px 16px 16px 16px;
    
    border: 1px solid black;
  }
}
