@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
//# COLOR-BASED ----------------------------------------------------
@mixin mainColor {
  background-color: #3f3f3f; // use for body background
}

@mixin lighterMainColor {
  background-color: #616161; // use for mission statement
}

@mixin headerColor {
  background-color: #d36e49;
}

@mixin darkerHeaderColor {
  background-color: #8e3414;
}

//# FONT ----------------------------------------------------
@mixin mainFont {
  font-family: "Cabin", sans-serif;
}
//# MARGINS ----------------------------------------------------
$thinM: 10px;
$thickM: 18px;
//~ Thin margins defined below ...
@mixin thinMarginBottom {
  margin-bottom: $thinM;
}
@mixin thinMarginSides {
  margin-left: $thinM;
  margin-left: $thinM;
}
@mixin thinMarginTop {
  margin-top: $thinM;
}
//~ Thick margins defined below ...
@mixin thickMarginBottom {
  margin-bottom: thickM;
}
@mixin thickMarginSides {
  margin-left: thickM;
  margin-left: thickM;
}
@mixin thickMarginTop {
  margin-top: $thickM;
}

//# SIZING ----------------------------------------------------

@mixin standardFlexContainer {
  display: flex;
  justify-content: center;
}
@mixin menuWidth {
  width: 70%;
}
@mixin missionWidth {
  width: 50%;
}
@mixin modalWidth {
  width: 42%;
}
