@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
//# COLOR-BASED ----------------------------------------------------
@mixin mainColor {
  background-color: #383838; // use for body background
}

@mixin lighterMainColor {
  background-color: #3d3d3d; // use for mission statement
}

@mixin headerColor {
  background-color: #8a2b06;
}

@mixin darkerHeaderColor {
  background-color: #4d1601;
}

//# FONT ----------------------------------------------------
@mixin mainFont {
  font-family: "Cabin", sans-serif;
}
//# MARGINS ----------------------------------------------------
$thinM: 18px;
$thickM: 24px;
//~ Thin margins defined below ...
@mixin thinMarginBottom {
  margin-bottom: $thinM;
}
@mixin thinMarginSides {
  margin-left: $thinM;
  margin-right: $thinM;
}
@mixin thinMarginTop {
  margin-top: $thinM;
}
//~ Thick margins defined below ...
@mixin thickMarginBottom {
  margin-bottom: $thickM;
}
@mixin thickMarginSides {
  margin-left: $thickM;
  margin-right: $thickM;
}
@mixin thickMarginTop {
  margin-top: $thickM;
}

//# MOBILE-MARGINS ----------------------------------------------------
$mobileMargin: 4px;
@mixin mobileMargin{
  margin: $mobileMargin;
}
@mixin mobileBottom {
  margin-bottom: $mobileMargin;
}
@mixin mobileSides {
  margin-left: $mobileMargin;
  margin-right: $mobileMargin;
}
@mixin mobileTop {
  margin-top: $mobileMargin;
}

//# SIZING ----------------------------------------------------

@mixin menuWidth {
  width: 70%;
}

@mixin modalWidth {
  width: 42%;
}

//# MISC ----------------------------------------------------
@mixin menuMissionBorderRadius {
  border-radius: 16px;
}
@mixin addLinebreak {
  content: "\a";
  white-space: pre;
}
@mixin removeLinebreak {
  content: "";
  white-space: pre;
}
@mixin rowFlexbox {
  display:flex;
  flex-direction: row;
}
@mixin columnFlexbox {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}